body {
    background:linear-gradient(to bottom, #F5F5F5, #DADDFC);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}